*{
  margin: 0;
  padding: 0;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  /* border: 1px solid red; */
  height: 50px;
  width: 100%;

}
.nav li{  
  float: right;
  height: 100%;

}
.nav li:nth-of-type(1) {
  font-size: 28px;
  float: left;
}

.nav li a {
  height: 100%;
  width: 180px;
  background-color: green;
  /* border: 1px solid white; */
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 50px; /*set as same as height*/
}
.nav li a:hover {
  background-color: #61ab4d;
}

.area {
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}
.area img{
  height:  55px;
  width:  auto;
}

.area .yoko{
  height: 45px;
  width:  auto;
}

.Sentence{
  
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab_class {
  width: calc(100%/6);
  height: 50px;
  background-color: darkgrey;
  border-radius: 2px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
  
  position: sticky;
  top: 0px;
}
 
input[name="tab_name"] {
  display: none;
}
 
input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
}
 
.content_class {
  display: none;
  width: 100%;
}



input:checked + .tab_class + .content_class {
  display: block;
}

.content_class h2{
  background-color: #cce5cf;
  margin-bottom: 10px;
}

.content_class p{
  width: 80%;
  font-size: 20px;
  margin-bottom: 10px;
}
.content_class article{
  background-color: rgb(246, 244, 244);
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 750px){
  header{
    height: 250px;
  }
  
  .nav{
    display: block;
    float: none;
    height: 50px;
    
  }

  .nav li{  
    float: none;
    height: 100%;
  
  }
  .nav li:nth-of-type(1) {
    float: none;
    
  }
  
  .nav li a {
    height: 100%;
    width: 100%;
    line-height: 50px;
  }

  .area img{
    height:  50px;
    width:  auto;
  }
  .area .yoko{
    height: 35px;
    width:  auto;
  }
    
}

#footer {
  background-color: #61ab4d;
  border-top: solid 1px lightgray;
  padding-bottom: 10px;
  margin-top: 30px;
}

#footer ul {
  text-align: center;
}

#footer ul li {
  padding: 0 4px;
  display: inline;
}

#footer p {
  text-align: center;
}


@media only screen and (max-width: 650px){
  .area img{
    height:  37px;
    width:  auto;
  }
  .area .yoko{
    height: 27px;
    width:  auto;
  }
}
