*{
  margin: 0;
  padding: 0;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  border: 1px solid red;
  height: 70px;
  width: 100%;

}
.nav li{  
  float: right;
  height: 100%;

}
.nav li:nth-of-type(1) {
  font-size: 28px;
  float: left;
}

.nav li a {
  height: 100%;
  width: 180px;
  background-color: green;
  border: 1px solid red;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 70px; /*set as same as height*/
}
.nav li a:hover {
  background-color: #111;
}

.area {
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}
.area img{
  height:  60px;
  width:  auto;
}
 
.tab_class {
  width: calc(100%/5);
  height: 50px;
  background-color: darkgrey;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}
 
input[name="tab_name"] {
  display: none;
}
 
input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
}
 
.content_class {
  display: none;
  width: 100%;
}
 
input:checked + .tab_class + .content_class {
  display: block;
}

.content_class article{
  border: 1px solid red;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 736px){
  header{
    height: 250px;
  }
  
  .nav{
    display: block;
    float: none;
    height: 50px;
    
  }

  .nav li{  
    float: none;
    height: 100%;
  
  }
  .nav li:nth-of-type(1) {
    float: none;
    
  }
  
  .nav li a {
    height: 100%;
    width: 100%;
    line-height: 50px;
  }

}

